* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: auto;
  background-color: rgba(222, 184, 135, 0.267);
  background-image: url(escada_3d.png);
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  font-family: "Kanit", sans-serif;
}

.headerN {
  position: relative;
  text-align: center;
  border-radius: 70%;
  margin: 0;
  width: 100%;
  font-size: 25px;
  font-family: monospace, Georgia, "Times New Roman", Times, serif;
  transform-style: preserve-3d;
  background: linear-gradient(#1515152a, #3b4ce436);
  filter: drop-shadow(10px 10px 3px rgba(2, 0, 128, 0.356));
  box-shadow: 0 0 10px #3b6c52;
}

h1 {
  color: #3b4be4;
}

.botton_music {
  box-sizing: content-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #5e7368;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  border-radius: 15px;
}

.trybe_link {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 900;
  color: #3b6c52;
  text-decoration: none;
}

#foto_rosto {
  border-radius: 100%;
}

.dest-habil {
  position: absolute;
  position: right;
  margin-left: 300px;
  height: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #5e73689c;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
}

#projects {
  margin: 50px 50px 50px 50px;
  max-width: 80%;
  min-height: 20%;
  max-height: 50%;
  background: rgba(255, 255, 255, 0.479);
  border-radius: 50px;
  font-family: "Kanit", sans-serif;
  font-family: "Paprika", cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px;
}

.list ol li {
  border: solid black;
  position: relative;
  display: list-item;
  overflow: visible;
  text-align: center;
  align-items: center;
  margin: 10px;
  bottom: auto;
  width: auto;
  height: auto;
}
.list ol li a {
  border: solid red;
  display: flex;
  list-style-position: outside;
  height: 100px;
  left: 2px;
  right: 2px;
  line-height: 40px;
  max-width: 80%;
  min-width: 30%;
  position: relative;
  background-position: 90%;
  justify-content: center;
  z-index: 2;
}

.line {
  break-inside: auto;
  height: 0;
}
